<div class="login-wrapper">
  <div class="login">
    <a href="https://github.com/luciavu/file-uploader" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
    <h1>Welcome to Odin Drive</h1>
    <form action="/login" method="post">
      <label for="username">
        Enter username:
        <input type="text" id="username" name="username" />
      </label>
      <label for="password">
        Enter password:
        <input type="password" id="password" name="password" />
      </label>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register now</a></p>
  </div>
</div>
