<form action="/upload" method="post" enctype="multipart/form-data" class="uploadfile">
  <h1>Upload file</h1>
  <label for="folder">
    Select Folder:
    <select name="folder" id="folder">
      <% folders.forEach((folder) => {%>
      <option value="<%=folder.id%>"><%=folder.name%></option>
      <%})%>
    </select>
  </label>
  <label for="file">
    Select File:
    <input type="file" name="file" id="file" />
  </label>
  <button type="submit">Upload File</button>
</form>
