* {
  font-size: 16px;
  box-sizing: border-box;
  font-family: Inter, Arial, Calibri;
  color: var(--text-focus);
}

body {
  margin: 0;
  padding: 0;
  padding: 1.5rem 2.5rem;
}

.github i {
  font-size: 2.5rem;
  color: var(--text-focus);
}

h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: 3rem;
}

h2,
h2 a {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.home {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
}

.welcome-msg {
  margin-bottom: 0.5rem;
}

.cta {
  font-weight: 500;
  color: rgb(132, 132, 132);
}

.nav {
  display: flex;
  flex-direction: column;
  width: 18%;
  gap: 0.2rem;
}

.flex-col {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.nav a {
  padding: 0.4rem 1rem;
}

.upload {
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  border: 0.1rem solid black;
  width: max-content;
  padding: 0.6rem 1rem;
}

.upload-wrapper {
  display: flex;
  gap: 2rem;
}

.upload i {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.folders {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}

.folder-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.files-wrapper {
  width: 82%;
}

.files {
  margin-top: 1rem;
  border: 0.1rem solid black;
  padding: 1.5rem;
}

.nav h3 {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.file,
.file-headings {
  padding: 0.8rem 1rem;
  border: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
}

.file-headings {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border: none;
}

.file-link {
  display: block;
}

.file-row {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr 1fr;
  gap: 1rem;
}

.delete-form h3 {
  color: red;
  margin-top: 1rem;
}

.delete-form button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: black;
  color: white;
  margin-right: 1rem;
  cursor: pointer;
}

#delete {
  background-color: red;
}

.folders i {
  margin-right: 0.5rem;
  color: rgb(205, 204, 202);
}

.actions {
  display: flex;
  gap: 1rem;
}

.details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.field {
  display: flex;
  gap: 0.5rem;
}

.key {
  font-weight: 600;
}
.value {
  color: rgb(55, 55, 55);
}

.back {
  display: block;
  margin-bottom: 2rem;
  text-decoration: underline;
}
