<h2 class="welcome-msg">Welcome <%=user.username%>!</h2>
<h3 class="cta">Create folders and upload files into your cloud.</h3>
<div class="home">
  <div class="nav">
    <a href="/upload" class="new">Add files</a>
    <a href="/folders"><h3>My Files</h3></a>
    <a href="/folders"><h3>My Folders</h3></a>
    <div class="folders">
      <a href="/home">Personal</a>
      <a href="/school">School</a>
      <a href="/work">Work</a>
    </div>
  </div>
  <div class="files-wrapper">
    <h1>School</h1>
    <div class="files">
      <div class="file-headings file-row">
        <div class="heading">Name</div>
        <div class="heading">Owner</div>
        <div class="heading">Created</div>
        <div class="heading">Size</div>
        <div class="heading">Actions</div>
      </div>
      <a href="" class="file-link">
        <div class="file file-row">
          <div class="name">File name</div>
          <div class="owner">sss</div>
          <div class="date-uploaded">27th May</div>
          <div class="file-size">27mB</div>
          <div class="actions">Down Del</div>
        </div></a
      >
      <a href="" class="file-link">
        <div class="file file-row">
          <div class="name">File name</div>
          <div class="owner">sss</div>
          <div class="date-uploaded">27th May</div>
          <div class="file-size">27mB</div>
          <div class="actions">Down Del</div>
        </div></a
      >
    </div>
  </div>
</div>
