<form action="/login" method="post">
  <label for="username">
    Enter username:
    <input type="text" id="username" name="username" />
  </label>
  <label for="password">
    Enter password:
    <input type="password" id="password" name="password" />
  </label>
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/register">Register now</a></p>
