<form action="/login" method="post">
  <h1>Login</h1>
  <%- include("./partials/errors.ejs") %>
  <label for="username"
    >Enter Username: <input type="text" name="username" minlength="3" maxlength="15"
  /></label>

  <label for="password">
    Enter Password: <input type="password" name="password" minlength="3" maxlength="15"
  /></label>

  <button type="submit">Login</button>
</form>
