<%- include("./partials/errors.ejs") %>
<form action="/folders/new" method="post" class="newfolder">
  <h1>Add folder</h1>
  <label for="foldername"
    >Folder name:<input type="text" id="foldername" name="foldername" minlength="3" maxlength="15"
  /></label>
  <button type="submit">Add folder</button>
</form>
