<%- include("./partials/errors.ejs") %>
<form action="/folders/update/<%=folder.id%>" method="post" class="updatefolder">
  <h1>Update folder</h1>
  <label for="newName"
    >Folder name:<input type="text" id="newName" name="newName" minlength="3" maxlength="15"
  /></label>
  <button type="submit">Update folder</button>
</form>
